@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  color: #fbf8fb;
  background-color: #161618;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

.slide-in {
  transform: translateY(100%);
  animation: slideUp 0.3s forwards;
}
@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}
